.layout {
  text-align: center;
}

.layout-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.layout-title {
  font-size: 1.5em;
}

.layout-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
